<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/css.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <style>
        body{
            background-color: #ebebeb;
        }
    </style>

</head>
<body>
<%include header.html%>
<div class="container-fluid">

    <!--top-->

    <!--banner-->
    <div class="row" style="height: 900px;margin-top: 30px">
        <div class="col-lg-1 col-md-1 "></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-3" >
            <div class="left_ban">
                <div class="about about_shadow active">
                    关于我们
                </div>
                <div class="about about_shadow">
                    企业合作
                </div>
                <div class="about about_shadow">
                    人才招聘
                </div>
                <div class="about about_shadow">
                    讲师招募
                </div>
                <div class="about about_shadow">
                    联系我们
                </div>
                <div class="about about_shadow">
                    意见反馈
                </div>
                <div class="about">
                    友情链接
                </div>

            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9" >
            <div class="right_ban">
                <div class="row about_title">
                    关于我们
                </div>
                <div class="row about_height">

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">什么是H5梦工场（H5Mgc）</div>
                        <div class=" height1">H5（Html5）Massive（大规模的）good（好的）course（课程）。</div>

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">为什么做梦工场</div>
                        <div class=" height1">梦工场的小伙伴希望所有热爱互联网的同学能更加便捷的获取学习资源，用互联网思维改变我们的学习。
                            我们提供最新的知识，帮你应对变化的世界！</div>

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">梦工场在做什么</div>
                        <div class=" height1">做更多实用的课程，做更好体验的产品，研究更牛的技术！</div>

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">梦工场的追求是什么</div>
                        <div class=" height1">让更多热爱互联网的同学来慕课网学习，多年以后，圈子里一批技术牛说：我在慕课网学习过，这就够了。</div>

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">梦工场有移动端吗</div>
                        <div class=" height1">
                            有啊，手机端请扫描下方二维码下载
                            </div>
                        <div class=" height1"><img src="images/erweima.png" alt=""></div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 about_height_img"><img src="/images/zhuanti.png" alt=""></div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 about_height_mar">
                        <div class=" height">梦工场是谁</div>
                        <div class=" height1">慕课网是一家从事互联网在线教学的网络教育企业。秉承“开拓、创新、公平、分享”的精神，将互联网特性全面的应用在教育领域，致力于为教育机构及求学者打造一站在线互动学习的教育品牌。</div>

                    </div>


                </div>
            </div>
        </div>


        <div class="col-lg-1 col-md-1 "></div>
    </div>


    <!--bottom-->
    <div class="row" style="height: 200px">
        <div class="col-lg-1 col-md-2 "></div>
        <div class="col-lg-10 col-md-9 col-sm-11 col-xs-12">
            <div class="col-lg-4 col-lg-offset-5 col-md-4 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-3 ">
                <div class="bottom_info">
                    <img src="/images/weibo.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/weixin.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/txun.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/images/kjian.png" alt="">


                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-3 col-xs-8 col-xs-offset-2 ">
                <div class="bottom_info1">
                    关于我们 | 企业合作 | 人才招聘 | 讲师招募 | 联系我们 | 意见反馈 | 友情链接
                </div>

            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>


        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 "></div>
    </div>


</div>

</body>
</html>