<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main1.css">
    <link rel="stylesheet" href="/stylesheets/css.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="/javascripts/ZoomPic.js"></script>
    <script src="/javascripts/sHover.js"></script>
    <script src="/javascripts/main.js"></script>

</head>
<body>
    <div class="aboutus">
    <div class="aboutus1"><a href="javascript:scroll(0,0)">顶部</a></div>
        <a href="/aboutus">
    <div class="aboutus2">关于我们</div>
        </a>
</div>




    <div class="container-fluid">
        <!--top-->
        <div class="row ">
            <% include header.html%>
        </div>

        <!--banner-->
        <div class="row bg_img">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="hc_lnav jslist">
                    <div class="allbtn">
                        <ul style="width:245px;border-bottom: solid 1px black ">
                            <!--pop1-->
                            <li class="banner_ul_li" >
                                <div class="allbtn_font_1"><i>&nbsp;</i>HTML/CSS
                                    <img src="images/jiantou1.png" style="margin-left: 73px;">
                                </div>

                                <div class="pop pop_img1 ">
                                    <h3><a href="">HTML/CSS</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： HTML/CSS/ JavaScript/ jQuery</a>
                                            <a class="ui-link"    href="">进阶： Html5/ CSS3/ Node.js/ AngularJS/ Bootstrap/ React/ Sass/Less/</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" >课程 | CSS深入理解之relative</a>
                                            <a class="ui-link"   href=""> CSS深入理解之relative</a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                            <!--pop2-->
                            <li class="banner_ul_li">
                                <div class="allbtn_font"><i>&nbsp;</i>JavaScript
                                    <img src="images/jiantou1.png" style="margin-left: 80px;">
                                </div>

                                <div class="pop pop_img2">
                                    <h3><a href="">JavaScript</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： JavaScript/ jQuery</a>
                                            <a class="ui-link"    href="">进阶： AngularJSReact/ Sass/Less/</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" ></a>
                                            <a class="ui-link"   href=""> </a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                            <!--pop3-->
                            <li class="banner_ul_li" >
                                <div class="allbtn_font"><i>&nbsp;</i>Jquery
                                    <img src="images/jiantou1.png" style="margin-left: 110px;">
                                </div>

                                <div class="pop pop_img3">
                                    <h3><a href="">Jquery</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" ></a>
                                            <a class="ui-link"    href="">进阶： Html5/ CSS3/ Node.js/ AngularJS/ Bootstrap/ React/ Sass/Less/</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" ></a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> </a>
                                            <a class="ui-link" href="" ></a>
                                            <a class="ui-link"   href=""> CSS深入理解之relative</a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                            <!--pop4-->
                            <li class="banner_ul_li" >
                                <div class="allbtn_font"><i>&nbsp;</i>Json
                                    <img src="/images/jiantou1.png" style="margin-left: 125px;">
                                </div>

                                <div class="pop pop_img4">
                                    <h3><a href="">Json</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： HavaScript/ jQuery</a>
                                            <a class="ui-link"    href=""> AngularJS/ Bootstrap</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" ></a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" ></a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" >课程 | CSS深入理解之relative</a>
                                            <a class="ui-link"   href=""> </a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                            <!--pop5-->
                            <li class="banner_ul_li">
                                <div class="allbtn_font"><i>&nbsp;</i>MySql
                                    <img src="/images/jiantou1.png" style="margin-left: 113px;">
                                </div>
                                <div class="pop pop_img5">
                                    <h3><a href="">MySql</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： HTML/CSS/ JavaScript/ jQuery</a>
                                            <a class="ui-link"    href="">进阶： Html5/ CSS3/ Node.js/ AngularJS/ Bootstrap/ React/ Sass/Less/</a>
                                            <a class="ui-link"  href=""></a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href=""></a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" >课程 | CSS深入理解之relative</a>
                                            <a class="ui-link"   href=""> CSS深入理解之relative</a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                            <!--pop6-->
                            <li class="banner_ul_li" >
                                <div class="allbtn_font"><i>&nbsp;</i>Nodejs
                                    <img src="images/jiantou1.png" style="margin-left: 107px;">
                                </div>

                                <div class="pop pop_img6">
                                    <h3><a href="">Nodejs</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： HTML/CSS/ JavaScript/ jQuery</a>
                                            <a class="ui-link"    href="">进阶： Html5/ CSS3/ Node.js/ AngularJS/ Bootstrap/ React/ Sass/Less/</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" >课程 | CSS深入理解之relative</a>
                                            <a class="ui-link"   href=""> CSS深入理解之relative</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!--pop7-->
                            <li class="banner_ul_li">
                                <div class="allbtn_font"><i>&nbsp;</i>Web Services
                                    <img src="images/jiantou1.png" style="margin-left: 54px;">
                                </div>

                                <div class="pop pop_img7">
                                    <h3><a href="">Web Services</a></h3>
                                    <dl>
                                        <dt>分类目录</dt>
                                        <dd>
                                            <a class="ui-link"  href="" >基础： HTML/CSS/ JavaScript/ jQuery</a>
                                            <a class="ui-link"    href="">进阶： Html5/ CSS3/ Node.js/ AngularJS/ Bootstrap/ React/ Sass/Less/</a>
                                            <a class="ui-link"  href="">Bootstrap</a>
                                            <a class="ui-link"   href="" >React</a>
                                            <a class="ui-link"   href="" >Sass</a>
                                            <a class="ui-link"   href="">Less</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt> 推荐</dt>
                                        <dd>
                                            <a class="ui-link" href="" >课程 | vuejs入门基础</a>
                                            <a class="ui-link"  href=""  > JavaScript深入浅出</a>
                                            <a class="un-link"   href=""> CSS深入理解之relative</a>
                                            <a class="ui-link" href="" >课程 | CSS深入理解之relative</a>
                                            <a class="ui-link"   href=""> CSS深入理解之relative</a>
                                        </dd>
                                    </dl>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div id="focus_Box">
                    <span class="prev">&nbsp;</span>
                    <span class="next">&nbsp;</span>
                    <ul>
                        <li>
                            <a href="#"><img width="820 " height="420"  src="images/baa.png" /></a>

                        </li>
                        <li>
                            <a href="#"><img width="820" height="420"  src="images/baa1.png" /></a>

                        </li>
                        <li>
                            <a href="#"><img width="820" height="420"  src="images/ba2.png" /></a>

                        </li>
                        <li>
                            <a href="#"><img width="820" height="420"  src="images/ba3.png" /></a>

                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

        <!--course-->
        <div class="row course_margin1" >
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6"><h4> 课程推荐</h4></div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4"><h4> </h4></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

        <div class="container" style="width: 89%">


            <div class="row" >
                <%
                for(var i=0;i<=course.length-1;i++){
                %>

                <div class="col-lg-3 col-md-8 col-sm-6 col-xs-12 ">
                    <div class="course example1">
                        <a href="/video?Video_id=<%=course[i].Video_id%>"><span class="intro1"></span><img  src="/images/<%=course[i].img_url%>" ></a>
                        <div class="course_inner_title"><%=course[i].Course_name%></div>
                    </div>
                </div>
                <%
                }
                %>
            </div>
        </div>



        <!--专项路径-->
        <div class="row special_margin" >
            <div class="container" style="width: 89%">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="course1"><img src="/images/web.png" alt=""></div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                    <div class=" course_big shadow" ><img src="/images/jqu.png" alt=""></div>
                    <div class=" course_big shadow" ><img src="/images/h51.png" alt=""></div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="course1 shadow huoyue_bg"><img src="/images/h52.png" alt="">

                        <div class="course1_inner1_title">如何用CSS进行网页布局</div>
                        <div class="course1_inner1">
                            12345人在学
                        </div>
                        <div class="course1_inner">
                            <ul >
                                <li>canvas实现星星闪烁特效</li>
                                <li>CSS3+JS 实现超炫的散列画廊特效</li>
                                <li>全屏切换效果</li>
                                <li>梦工场技术沙龙之前端专场</li>
                                <li>学写一个字</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        <!--微社区-->
        <div class="row special_1" >
            <div class="container" style="width: 89%">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="course1">
                        <img src="images/java.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                    <div class=" course_big shadow" ><img src="images/xuexi.png" alt=""></div>
                    <div class=" course_big shadow tiezi_bg" >
                        <div class="tiezi">热门帖子</div>
                        <div class="tiezi_right">
                        <%
                            for(var i=0;i<=posts.length-1;i++){
                            %>
                            <a href="/users/postDetail?Post_id=<%=posts[i].Post_id%>"><p><%=posts[i].Title%></p></a>
                            <%
                            }
                            %>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="course1 shadow huoyue_bg">
                        <div class="huoyue">活跃排行</div>
                        <hr>
                    </div>
                </div>

            </div>

        </div>


        <!--bottom-->


    </div>
<%include footee.html%>
</body>
</html>