<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="bootstrap-3.3.5/css/bootstrap.css">-->
    <script src="/javascripts/personal.js"></script>


    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/css.css">

</head>
<body>
    <div class="container-fluid">

        <!--top-->
       <%include header.html%>

        <!--banner-->
        <div class="row bg_img4" style="height: 900px">
            <div class="col-lg-1 col-md-1  "></div>
            <!--zuoce-->
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4" >
                <div class="photo"></div>
                <div class="index">
                    <div class="stage" id="per_info">
                        <div class="img_left"><img src="/images/ZhuYe.png" alt=""></div>
                        主页
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>
                    <div class="stage">
                        <div class="img_left"><img src="/images/iconfont-kecheng.png" alt=""></div>
                        课程
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>
                    <div class="stage">
                        <div class="img_left"><img src="/images/专题.png" alt=""></div>
                        专项
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>
                    <div class="stage" id="stage_fav">
                        <div class="img_left"><img src="/images/收藏.png" alt=""></div>
                        帖子
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>
                    <div class="stage">
                        <div class="img_left"><img src="/images/我的星球_帖子.png" alt=""></div>
                        错题
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>
                    <div class="stage">
                        <div class="img_left"><img src="/images/我的星球_帖子.png" alt=""></div>
                        Wiki
                        <div class="img_right"><img src="/images/箭头.png" alt=""></div>
                    </div>

                </div>
            </div>
            <!--zhongjian-->
            <div class="col-lg-8 col-md-7 col-sm-8 col-xs-8">
                <div class="infor">
                    <div class="infor_1">落笔的情绪_03960147</div>
                    <div class="infor_2">
                        这位同学很懒，木有签名的说～
                        <div class="infor_2_right">关注:1 粉丝:0</div>
                    </div>

                    <div class="track">
                        最新动态
                        <hr>
                        <div>
                            <div class="track_left">
                                <div class="time">2016</div>
                                <div class="time1">9月27日</div>
                            </div>
                            <div class="track_right">
                                <div class="track_course11" >
                                    <img src="/images/webpage.jpg" alt="" >
                                    <!--<div class="course_inner_title">网页布局基础</div>-->
                                </div>
                                <div class="course_title">
                                    <div class="course_title_1">网页布局基础</div>
                                    <div class="course_title_2">已学0% 用时0分</div>
                                </div>
                                <div class="track_btn">
                                    <button type="submit" class="btn_style1">继续学习</button>
                                </div>
                            </div>
                            <div class="track_right">
                                <div class="track_course11" >
                                    <img src="/images/h52.png" alt="" >
                                    <!--<div class="course_inner_title">网页布局基础</div>-->
                                </div>
                                <div class="course_title">
                                    <div class="course_title_1">网页布局基础</div>
                                    <div class="course_title_2">已学0% 用时0分</div>
                                </div>
                                <div class="track_btn">
                                    <button type="submit" class="btn_style1">继续学习</button>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-lg-1 col-md-1 "></div>
        </div>


        <!--bottom-->




    </div>
    <%include footee.html%>

</body>
</html>